<!-- Homepage -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>FYP - OCR</title>
        <meta content name="description">
        <meta content name="keywords">

        <!-- Favicons -->
        <link href="{{ url_for('static', filename='img/favicon.png') }}"
            rel="icon">

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link
            href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"
            rel="stylesheet">
        <link
            href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}"
            rel="stylesheet">
        <link
            href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}"
            rel="stylesheet">
        <link
            href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}"
            rel="stylesheet">
        <link
            href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}"
            rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{{ url_for('static', filename='css/document.css') }}"
            rel="stylesheet">
    </head>

    <body class="row">

        <!-- ======= Header ======= -->
        <header id="header">
            <div class="d-flex flex-column">

                <nav id="navbar" class="nav-menu navbar">
                    <ul>
                        <li><a href="{{ url_for('documentHome') }}"
                                class="nav-link scrollto active"><i
                                    class="bx bx-home"></i>
                                <span>Home</span></a></li>
                        <li><a href="{{ url_for('documentTemplates') }}"
                                class="nav-link scrollto"><i
                                    class="bx bx-book-content"></i>
                                <span>Templates</span></a></li>
                        <li><a href="{{ url_for('documentProfile') }}"
                                class="nav-link scrollto"><i
                                    class="bx bx-user"></i>
                                <span>Profile</span></a></li>
                        <li><a href="{{ url_for('documentTrash') }}"
                                class="nav-link scrollto"><i class="bx bx-trash"></i>
                                <span>Trash</span></a></li>
                    </ul>
                </nav><!-- .nav-menu -->

                <div class="nav-container container">
                    <div class="help-div">
                        <a><i class='help-button bx bx-question-mark'></i></a>
                    </div>
                    <h6 class="help mt-3 text-white">Need help?</h6>
                    <p class="text-white">Please check our docs</p>
                    <a
                        href="https://receptive-dish-04e.notion.site/OCR-Documentation-5f3837d9a724496fb39f0d0e6508dbcc"
                        target="_blank">
                        <button id="documentation">Documentation</button>
                    </a>
                </div>

                <form action="{{ url_for('documentHome') }}" method="POST">
                    <input type="hidden" name="action" value="logout">
                    <button id="logout" type="submit" class="logout-button">Sign
                        Out</button>
                </form>

            </div>
        </header><!-- End Header -->

        <!-- ======= Header ======= -->

        <!-- ======= Hero Section ======= -->
        <!-- <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      
    </div>
  </section>End Hero -->
        <!-- Replace 'your-image-url.jpg' with the actual URL of your image -->
        <div class="d-flex pe-0 ps-0">
            <div class="custom-container container d-flex">
                <div class="custom-wrapper table-wrapper">
                    <table
                        class="custom-table table table-striped table-hover me-5">
                        <thead>
                            <tr>
                                <th>level</th>
                                <th>block_num</th>
                                <th>left</th>
                                <th>top</th>
                                <th>width</th>
                                <th>height</th>
                                <th>conf</th>
                                <th>text</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if pass_result %}
                            {% for item in pass_result %}
                            <tr>
                                <td>{{ item['level'] }}</td>
                                <td>{{ item['block_num'] }}</td>
                                <td>{{ item['left'] }}</td>
                                <td>{{ item['top'] }}</td>
                                <td>{{ item['width'] }}</td>
                                <td>{{ item['height'] }}</td>
                                <td>{{ item['conf'] }}</td>
                                <td>{{ item['text'] }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="me-5 w-25"><!-- This div will hold the API response and will be displayed above the button -->
                <form method="POST" action="{{ url_for('customTemplate') }}">
                    <input type="hidden" name="config" value="{{ passData }}">
                    <input type="hidden" name="result"
                            value="{{ pass_result }}">
                    <input type="hidden" name="action" value="confirm">

                    <div class="form-group">
                        <label for="tempName">Template Name</label>
                        <input type="text" class="form-control"
                            placeholder="Enter your template name"
                            name="tempName">
                    </div>

                    <div id="inputFieldsContainer">
                        <!-- Initial set of input fields -->
                        <div class="form-group">
                            <label for="fieldName">Field Name</label>
                            <input type="text" class="form-control"
                                placeholder="Enter text" name="fieldName[]">
                        </div>
                        <div class="form-group">
                            <label for="extract_method">Extract Method</label>
                            <select class="form-control" name="extract_method[]">
                                <option value="block" selected>Block</option>
                                <option value="regex">Regex</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="value">Value</label>
                            <input type="text" class="form-control"
                                placeholder="Enter a value" name="value[]">
                        </div>
                    </div>
                    <div class="buttons-container">
                    <button type="button" id="addInputButton"
                        onclick="addInputFields()">Add Input</button>
                    <button type="submit" id="confirm-button">Confirm</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- {% for item in api_response %}
                <div id="api-response">{{ item['Field'] }}: {{ item['Text'] }}</div>
                {% endfor %} -->

        <!-- {% if result %}
                {% for item in result['data'] %}
                <div id="api-response">{{ item['text'] }}</div>
                {% endfor %}
                {% endif %} -->
        <!-- {% if api_response %}
                <div id="api-response">
                    {% for item in api_response %}
                    {{ item['Text'] }}{% if not loop.last %} {% endif %}
                    {% endfor %}
                </div>
                {% endif %} -->
        <a href="#"
            class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script
            src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>'

        <script>
            function addInputFields() {
                var container = document.getElementById('inputFieldsContainer');
                var index = container.querySelectorAll('.form-group').length / 3;
        
                // Create Field Name input
                var fieldNameDiv = document.createElement('div');
                fieldNameDiv.className = 'form-group';
                fieldNameDiv.innerHTML = '<label for="fieldName">Field Name</label><input type="text" class="form-control" placeholder="Enter text" name="fieldName[]">';
                container.appendChild(fieldNameDiv);
        
                // Create Extract Method select
                var extractMethodDiv = document.createElement('div');
                extractMethodDiv.className = 'form-group';
                extractMethodDiv.innerHTML = '<label for="extract_method">Extract Method</label><select class="form-control" name="extract_method[]"><option value="block">Block</option><option value="regex">Regex</option></select>';
                container.appendChild(extractMethodDiv);
        
                // Create Value input
                var valueDiv = document.createElement('div');
                valueDiv.className = 'form-group';
                valueDiv.innerHTML = '<label for="value">Value</label><input type="text" class="form-control" placeholder="Enter a value" name="value[]">';
                container.appendChild(valueDiv);
            }
        </script>

        <!-- <script>
            $(document).ready(function () {
                // Add input fields when the "Add Input" button is clicked
                $('#addInputButton').click(function () {
                    var clonedFields = $('#inputFieldsContainer .form-group:first').clone(true);
        
                    // Clear values in the cloned fields
                    clonedFields.find('input[type="text"]').val('');
        
                    // Update the input names to avoid conflicts
                    clonedFields.find('[name]').each(function () {
                        var oldName = $(this).attr('name');
                        var newName = oldName + '_' + Date.now(); // Using a timestamp to make names unique
                        $(this).attr('name', newName);
                    });
        
                    // Append the cloned fields to the container
                    $('#inputFieldsContainer').append(clonedFields);
                });
            });
        </script> -->
        <script>
            $(document).ready(function () {
                // Initial setup based on the default selected option
                updateInputType();
        
                // Listen for changes in the selected option
                $('#extract_method').change(function () {
                    updateInputType();
                });
        
                function updateInputType() {
                    var selectedOption = $('#extract_method').val();
                    var inputElement = $('#value');
        
                    // Reset attributes to default values
                    inputElement.prop('type', 'text');
                    inputElement.prop('placeholder', 'Enter a value');
                    inputElement.removeAttr('min max step pattern');
        
                    // Update attributes based on the selected option
                    if (selectedOption === 'block') {
                        inputElement.prop('type', 'number');
                        inputElement.prop('min', '1');
                        inputElement.prop('max', '100');
                        inputElement.prop('step', '1');
                    } else if (selectedOption === 'regex') {
                        inputElement.prop('pattern', '\\b\\d{12}\\b');
                    }
                }
            });
        </script>
    </body>

</html>