<!-- Homepage -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>FYP - OCR</title>
        <meta content name="description">
        <meta content name="keywords">

        <!-- Favicons -->
        <link href="{{ url_for('static', filename='img/favicon.png') }}"
            rel="icon">

        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link
            href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"
            rel="stylesheet">
        <link
            href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}"
            rel="stylesheet">
        <link
            href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}"
            rel="stylesheet">
        <link
            href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}"
            rel="stylesheet">
        <link
            href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}"
            rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{{ url_for('static', filename='css/document.css') }}"
            rel="stylesheet">
    </head>

    <body>

        <!-- ======= Header ======= -->
        <header id="header">
            <div class="d-flex flex-column">

                <nav id="navbar" class="nav-menu navbar">
                    <ul>
                        <li><a href="{{ url_for('documentHome') }}"
                                class="nav-link scrollto"><i
                                    class="bx bx-home"></i>
                                <span>Home</span></a></li>
                        <li><a href="{{ url_for('documentTemplates') }}"
                                class="nav-link scrollto"><i
                                    class="bx bx-book-content"></i>
                                <span>Templates</span></a></li>
                        <li><a href="{{ url_for('documentProfile') }}"
                                class="nav-link scrollto"><i class="bx bx-user"></i>
                                <span>Profile</span></a></li>
                        <li><a href="{{ url_for('documentTrash') }}"
                                class="nav-link scrollto active"><i
                                    class="bx bx-trash"></i>
                                <span>Trash</span></a></li>
                    </ul>
                </nav><!-- .nav-menu -->

                <!-- <div class="nav-container container">
                    <div class="help-div">
                        <a><i class='help-button bx bx-question-mark'></i></a>
                    </div>
                    <h6 class="help mt-3 text-white">Need help?</h6>
                    <p class="text-white">Please check our docs</p>
                    <a
                        href="https://receptive-dish-04e.notion.site/OCR-Documentation-5f3837d9a724496fb39f0d0e6508dbcc"
                        target="_blank">
                        <button id="documentation">Documentation</button>
                    </a>
                </div> -->

                <form action="{{ url_for('documentHome') }}" method="POST">
                    <input type="hidden" name="action" value="logout">
                    <button id="logout" type="submit" class="logout-button">Sign
                        Out</button>
                </form>

            </div>
        </header><!-- End Header -->

        <!-- ======= Hero Section ======= -->
        <!-- <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      
    </div>
  </section>End Hero -->

        <main id="main">

            <section id="portfolio" class="portfolio section-bg">
                <div class="container">

                    <div class="section-title">
                        <h2>Welcome back,</h2>
                            <h5>Search File</h5>
                    </div>
                    <div class="d-flex">
                        <div class="input-group">
                            <form action="{{ url_for('documentTrash') }}"
                                method="POST">
                                <input type="hidden" name="action"
                                    value="searchFiles">
                                <div class="input-group mb-3">
                                    <input type="text" name="search"
                                        class="form-control"
                                        placeholder="Search Files..."
                                        aria-label="Search files"
                                        aria-describedby="basic-addon2"
                                        required>
                                    <div class="input-group-append">
                                        <button type="submit"
                                            class="btn btn-outline-secondary"
                                            id="searchButton"><i
                                                class='bx bx-search'></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="trash-notification">
                            <p>Documents in the trash are permanently deleted
                                after 30 days.</p>
                            <form method="POST"
                                action="{{ url_for('documentTrash') }}">
                                <input type="hidden" name="action"
                                    value="emptyTrash">
                                <button type="submit" class="trash-empty-link">Empty</button>
                            </form>
                        </div> -->
                    </div>

                    <!-- <div class="row portfolio-container" data-aos="fade-up"
                        data-aos-delay="100">
                        {% for links in links %}
                        <form method="POST"
                            action="{{ url_for('documentTrash') }}">
                            <div
                                class="col-lg-4 col-md-6 portfolio-item filter-web">
                                <div class="portfolio-wrap">
                                    <img
                                        src="{{ links }}"
                                        class="img-fluid" alt>
                                    <div class="portfolio-links">
                                        <input type="hidden"
                                            name="imageToDelete"
                                            value>
                                        <button type="submit" name="action"
                                            value="deleteImage"
                                            onsubmit="return confirm('Are you sure to delete this image?')">Delete</button>
                                        <a href="portfolio-details.html"
                                            title="More Details"><i
                                                class="bx bx-link"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {% endfor %}
                    </div> -->

                    <div class="container">
                        <div class="table-wrapper">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Date Deleted</th>
                                        <th>Date Created</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for trash_data in trash_data_list %}
                                    <tr>
                                        <td>
                                            <img src="{{ trash_data.link }}"
                                                class="img-fluid" alt>
                                        </td>
                                        <td>{{ trash_data.file_name }}</td>
                                        <td>{{ trash_data.date_deleted.strftime('%d/%m/%Y')
                                            if trash_data.date_deleted != 'N/A'
                                            else 'N/A' }}</td>
                                        <td>{{ trash_data.date_created.strftime('%d/%m/%Y')
                                            if trash_data.date_created != 'N/A'
                                            else 'N/A' }}</td>
                                        <td>
                                            <form method="POST"
                                                action="{{ url_for('documentTrash') }}">
                                                <input type="hidden"
                                                    name="action"
                                                    value="deleteTrash">
                                                <input type="hidden"
                                                    name="imageToDelete"
                                                    value="{{ trash_data.link }}">
                                                <button type="submit" id="deleteImage">Delete</button>
                                            </form>
                                            <form method="POST"
                                                action="{{ url_for('documentTrash') }}">
                                                <input type="hidden"
                                                    name="action"
                                                    value="restoreTrash">
                                                <input type="hidden"
                                                    name="imageToRestore"
                                                    value="{{ trash_data.link }}">
                                                <button type="submit" id="restoreImage">Restore</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </section><!-- End Portfolio Section -->

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="container d-md-flex py-4">
                <div class="copyright">
                    &copy; 2023 - OCR System
                </div>
            </div>
        </footer><!-- End Footer -->

        <a href="#"
            class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script
            src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
        <script
            src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

        <!-- Template Main JS File -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>